body {
  background-image: url('https://i.pinimg.com/originals/d2/46/b6/d246b6f01f37fde30166109377927596.jpg');
  text-align: center;
  height: 100%;
  width: 100%
}

#delete-btn {
  margin-left: 5px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #DE83CF;
}

#feelings-and-tasks {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F8DAE2;
}

#task-input-form {
  padding-top: 10px;
}

img {
  padding-top: 20px;
  max-width: 200px;
  max-height: auto;
}

#quote-id {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FDF2F0;
}

#to-do-container {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FDF2F0;
}
